<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<beans:bean class="com.kerberos.device.util.connectionmanager.ConnectionManagerImpl" />
	<beans:bean class="com.kerberos.device.util.dateutil.DateUtilImpl" />
	<beans:bean class="com.kerberos.device.util.encryption.EncryptionUtilImpl" />
	<beans:bean class="com.kerberos.device.util.hashing.HashUtilImpl" />
	
	<beans:bean class="com.kerberos.device.model.KerberosSessionManager"/>
	
	<beans:bean class="com.kerberos.device.rest.api.AuthenticationAPIImpl" />
	<beans:bean class="com.kerberos.device.rest.api.ServiceRequestAPIImpl" />
	<beans:bean class="com.kerberos.device.rest.api.ClientAccessServiceAPIImpl" />
	
	
	<beans:bean class="com.kerberos.device.rest.client.KerberosAuthenticationClient" />
	<beans:bean class="com.kerberos.device.rest.client.KerberosRequestServiceTicketClient" />
	<beans:bean class="com.kerberos.device.rest.client.AccessServiceClient" />
	
</beans:beans>

 